{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/accounts/signup.css'%}"
/>

<div class="screen">
  <div class="container">
    <form action="" method="get" class="Frame">
      <div class="Pretendard Title">회원가입</div>
      <hr style="width: 640px; height: 1px; border: none; background: #000" />
      <div class="Pretendard bold shell" id="id_box">
        <label for="id" class="box"> 아이디 </label>
        <input
          type="text"
          id="id"
          class="Pretendard gray input_box"
          placeholder="아이디를 입력해주세요."
        />
      </div>
      <div class="Pretendard bold shell" id="password_box">
        <label for="password" class="box"> 비밀번호 </label>
        <input
          type="password"
          id="password"
          class="Pretendard gray input_box"
          placeholder="비밀번호를 입력해주세요."
        />
        <p class="Pretendard gray small">* 비밀번호를 8자 이상으로 작성해주세요.</p>
        <p class="Pretendard gray small">* 영문 대소문자, 숫자, 특수문자를 하나 이상 포함해주세요.</p>
        <p class="Pretendard gray small">* 사용가능 특수문자 @!?-_</p>
      </div>
      <div class="Pretendard bold shell" id="check_password_box">
        <label for="check_password" class="box"> 비밀번호 확인 </label>
        <input
          type="password"
          id="check_password"
          class="Pretendard gray input_box"
          placeholder="비밀번호를 한 번 더 입력해주세요."
        />
      </div>
      <hr style="width: 640px; height: 1px; border: none; background: #E2E2E2" />
      <input type="button" class="Pretendard gray middle" value="가입하기">
    </form>
  </div>
</div>

{% if error %}
<div style="color: red">{{ error }}</div>
{% endif %}

<script>
  // js
</script>
{% endblock %}
